/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.individuals {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individual {
    width: 80%;
    max-width: 600px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align: center;
    margin: 20px 10%;
    width: 80%;
}



.individual img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 5px;
}
